* {
  font-family: "Maven Pro", sans-serif;
  text-align: left;
  padding: 10px;
}

body {
  width: 70%;
}

ul {
  text-align: center;
  list-style-position: inside;
  padding-left: 40px;
}

img {
  margin-left: -43px;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #322b29;
  border: #3b3b6048 solid 1px;
  background: #fff;
}

.tabela-4-colunas {
  -webkit-column-count: 4; 
  -moz-column-count: 4; 
  column-count: 4;
}

